html, body, #outside-container, #react-app, #loading-screen, #home-screen {
    margin: 0;
    padding: 0;
}

html, body, button {
    font-family: 'Source Code Pro', monospace;
}


#small-screen {
    margin: 1em;
    max-width: 600px; 
}

.flex-container {
    display: -webkit-flex;
    display: flex;
}

.flex-container--column {
    -webkit-flex-direction: column;
    flex-direction: column;
}

.flex-container--center-center {
    justify-content: center;
    align-items: center;
}

.card {
    background-color: blue
}

.card--title {
    padding: 3px 2em 3px 2em;
    background-color: #CFCCCC;
    color: black;
}

.card--body {
    padding: 1em 2em 1em 2em;
    color: white;
}

.card--footer {
    padding: 1em 2em 1em 2em;
    color: black;
}

.card .form-group {
    margin: 1em 0 1em 0;
    padding: 3px 3px 3px 3px;
    border: solid 1px white;
}

.card label {
    margin-right: 1em;
}

.card input {
    margin: 1em 0 1em 0;
    padding: 3px 3px 3px 3px;
    border: none;
    background-color: #18AA8E;
    color: black;
}

.card button {
    margin: 1em 0 1em 0;
    padding: 3px 2em 3px 2em;
    border: none;
    background-color: #18AA8E;
    box-shadow: 5px 5px black;
    color: black;
}

