html, body, #outside-container, #react-app, #loading-screen, #home-screen {
    margin: 0;
    padding: 0;
    height: 100%;
}

html, body, button {
    font-family: 'Source Code Pro', monospace;
}


#small-screen {
    height: 40%;
    width: 60%; 
}

.flex-container {
    display: -webkit-flex;
    display: flex;
}

.flex-container--column {
    -webkit-flex-direction: column;
    flex-direction: column;
}

.flex-container--center-center {
    justify-content: center;
    align-items: center;
}

.card {
    background-color: blue
}

.card--title {
    padding: 3px 2em 3px 2em;
    background-color: #CFCCCC;
    color: black;
}

.card--body {
    padding: 1em 2em 1em 2em;
    color: white;
}

.card button {
    margin: 1em 0 1em 0;
    padding: 3px 2em 3px 2em;
    border: none;
    background-color: #18AA8E;
    color: black;
}

